services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=aws-1-ap-southeast-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.blikyxhbwtuoxqzcltip;Password=Ecommercesupabase@#123;SSL Mode=Require;Pooling=true;Trust Server Certificate=true
